/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  border: 2px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  min-height: 1000px;
}

.category {
  width: 100%;
  margin-top: 2%;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-wrap: wrap;
}

.cards {
  width: 100%;
  margin-top: 2%;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-wrap: wrap;
}

.category h1 {
  margin-bottom: 3%;
  font-size: 3rem;
}

.card {
  width: 25%;
}

.card-card {
  height: 200px;
  padding: 1%;
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  border-top: 2px solid green;
  border-right: 2px solid green;
}

.card .card-details {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.card .card-details h5 {
  font-size: 2rem;
  width: 65%;
}

.card .card-details p {
  font-size: 1.6rem;
  opacity: 0.6;
  color: lightgray;
}

.card-body {
  font-size: 1.6rem;
  max-height: 100px;
  line-height: 1.25;
  margin: 5% 0;
  overflow: hidden;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 1.8rem;
}

.card-footer a {
  width: 36%;
  padding-bottom: 5px;
  text-decoration: none;
  border-bottom: 2px solid blueviolet;
  color: blueviolet;
}
