.container-form {
  width: 100%;
  margin: 0 auto;
  padding: 2.5%;
  border: 2px solid black;
  background: url("../imgs/img-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;

  h1 {
    font-size: 4rem;
    margin: 0 auto 5%;
    text-align: center;
    font-family: sans-serif;
  }

  div p {
    font-size: 1.7rem;
    color: ivory;
    margin-top: 15px;
  }

  .inputs {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    margin-bottom: 5%;
  }

  input {
    font-size: 2rem;
    padding: 15px;
    background: transparent;
    border-radius: 10px;
    border: 0;
    outline: none;
    border: 2px solid deeppink;
    color: ivory;

    &::placeholder {
      opacity: 0.5;
      color: deeppink;
    }
  }

  .title {
    width: 55%;
    display: flex;
    flex-direction: column-reverse;

    input {
      width: 100%;
    }
  }

  .author {
    display: flex;
    flex-direction: column-reverse;
    width: 30%;
  }

  .main-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;

    .body-component {
      width: 50%;

      p {
        margin-bottom: 2%;
      }

      textarea {
        resize: none;
        width: 100%;
        padding: 10px;
        font-size: 1.6rem;
        outline: none;
        border: 2px solid deeppink;
        background: transparent;
        color: ivory;
        border-radius: 10px;

        &::placeholder {
          color: deeppink;
          opacity: 0.5;
        }
      }
    }

    .instructions {
      width: 38%;
      h3 {
        font-size: 2.4rem;
        margin-bottom: 8%;
        padding-bottom: 2%;
        border-bottom: 2px solid deeppink;
        width: 18%;
      }

      li {
        font-size: 1.65rem;
        line-height: 1.25;
        margin-bottom: 5%;
      }
    }
  }

  .select-submit {
    margin-top: 5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .select-dropdown {
      display: flex;
      align-items: baseline;
      width: 35%;
      label {
        font-size: 1.8rem;
        font-weight: 600;
        margin-right: 5%;
      }

      select {
        border: 0;
        font-size: 1.8rem;
        font-weight: 600;
        color: deeppink;
        outline: none;
        background: #fff;
        list-style-type: none;
        cursor: pointer;
        background: transparent;
      }
    }

    button {
      outline: none;
      font-size: 1.8rem;
      font-weight: 600;
      color: deeppink;
      text-align: center;
      border: 2px solid deeppink;
      border-radius: 50%;
      width: 90px;
      height: 90px;
      cursor: pointer;
      background: transparent;

      &:hover {
        background: deeppink;
        color: white;
        transform: scale(1.15);
        transition: all 0.5s;
      }
    }
  }
}
