article {
  width: 90%;
  margin: 0 auto;
}

header {
  width: 100%;
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.title-category h1 {
  font-size: 3rem;
  margin-bottom: 3%;
}

.title-category h4 {
  font-size: 1.6rem;
  color: gray;
  opacity: 0.6;
}

.timestamp {
  font-size: 2rem;
  color: blueviolet;
}

main {
  width: 70%;
  margin: 0 auto;
}

.content {
  width: 100%;
  margin: 15% 0;
  font-size: 1.6rem;
  line-height: 1.25;
}

.footer {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer h4 {
  font-size: 2.4rem;
  letter-spacing: 5px;
  padding-bottom: 15px;
  border-bottom: 2px solid blueviolet;
  color: blueviolet;
}

.footer i {
  font-size: 2.4rem;
  color: blueviolet;
  cursor: pointer;
}

.appreciate {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  h5 {
    font-size: 2rem;
    // margin-left: 75%;
  }
}

.delete-edit {
  // margin-top: 5%;
  display: flex;
  flex-direction: column;
  width: 20%;

  button {
    font-size: 2.4rem;
    letter-spacing: 5px;
    margin-top: 25%;
    outline: none;
    border-radius: 15px;
    padding: 10px 20px;
    text-align: center;
    background: #fff;
    border: 2px solid black;
  }

  .delete-btn {
    border-color: firebrick;
    color: firebrick;
    &:hover {
      color: #fff;
      background: firebrick;
      transform: scale(1.15);
      transition: all 0.5s;
    }
  }

  .edit-btn {
    border-color: darkorange;
    color: darkorange;
    &:hover {
      color: #fff;
      background: darkorange;
      transform: scale(1.15);
      transition: all 0.5s;
    }
  }
}
