article {
  width: 90%;
  margin: 0 auto;
}

header {
  width: 70%;
  margin: 5% auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.title-category h1 {
  font-size: 5rem;
  margin-bottom: 3%;
  color: palevioletred;
}

.title-category h4 {
  font-size: 2.4rem;
  color: gray;
  opacity: 0.6;
}

.timestamp {
  font-size: 2.8rem;
  color: blueviolet;
  align-self: flex-end;
  color: gray;
}

main {
  width: 70%;
  margin: 0 auto;
}

.content {
  width: 100%;
  margin: 15% 0;
  font-size: 1.6rem;
  line-height: 1.25;
}

.footer {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
}

.footer h4 {
  font-size: 3.5rem;
  letter-spacing: 5px;
  padding-bottom: 15px;
  // border-bottom: 2px solid blueviolet;
  color: palevioletred;
}

.footer i {
  font-size: 3.4rem;
  color: palevioletred;
  cursor: pointer;
}

.appreciate {
  width: 13%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  align-self: center;

  h5 {
    font-size: 3.4rem;
    color: palevioletred;
    // margin-left: 75%;
  }
}

.delete-edit {
  // margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 5%;

  button {
    font-size: 2.65rem;
    letter-spacing: 3px;

    outline: none;
    border-radius: 15px;
    padding: 10px 20px;
    text-align: center;
    background: #fff;
    border: 2px solid black;
  }

  .delete-btn {
    color: red;
    background: transparent;
    &:hover {
      color: #fff;
      background: palevioletred;
      transform: scale(1.15);
      transition: all 0.5s;
    }
  }

  .edit-btn {
    color: palevioletred;
    background: transparent;
    &:hover {
      color: #fff;
      background: palevioletred;
      transform: scale(1.15);
      transition: all 0.5s;
    }
  }
}
