.comments {
  width: 70%;
  margin: 5% auto;
  font-size: 2rem;

  h2 {
    font-size: 3rem;
    font-weight: 600;
    font-family: sans-serif;
    margin: 5%;
    width: 90%;
    text-align: center;
    color: gray;

    &:hover {
      transform: scale(1.5);
      transition: all 0.5s;
    }
  }

  .comment-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

    p {
      margin: 2% 0;
      color: red;
    }

    input {
      outline: none;
      // width: 30%;
      padding: 15px;
      background: transparent;
      color: white;
      border: 1px solid deeppink;
      border-radius: 15px;
      // border-bottom: 2px solid white;
      font-size: 2rem;

      &::placeholder {
        font-size: 2rem;
      }
    }

    .author {
      width: 25%;
    }

    .body {
      margin-top: 1%;
      width: 65%;
      display: flex;
      justify-content: space-between;
      input {
        width: 70%;
      }

      button {
        // width: 20%;
        outline: none;
        cursor: pointer;
        font-size: 2.4rem;
        padding: 10px 15px;
        border: 1px solid deeppink;
        background: transparent;
        border-radius: 15px;
        color: deeppink;

        &:hover {
          transform: scale(1.25);

          transition: all 0.5s;
        }
      }
    }
  }
}
.block {
  display: block;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  form {
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    input {
      font-size: 2rem;
      width: 80%;

      background: transparent;
      padding: 15px;
      border: 1px solid deeppink;
      border-radius: 15px;
      color: #fff;
    }
    button {
      outline: none;
      cursor: pointer;
      background: transparent;
      font-size: 2rem;
      padding: 10px 15px;
      border: 1px solid deeppink;
      color: deeppink;
      border-radius: 15px;
    }
  }
}

.none {
  display: none;
}

.comment-container {
  margin-bottom: 5%;
  border: 1px solid white;

  display: flex;
  flex-direction: column;

  .header-comment {
    width: 100%;
    display: flex;
    flex-direction: space-between;
    padding: 3%;
    margin: 0;
    h1 {
      font-size: 3rem;
    }
  }

  .comment-body {
    min-height: 50px;
    text-align: center;
  }

  .comment-footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1% 5%;

    &-buttons {
      width: 20%;
      display: flex;
      justify-content: space-between;

      button {
        outline: none;
        cursor: pointer;
        background: transparent;
        font-size: 2rem;
        padding: 10px 15px;
        border: 1px solid deeppink;
        color: deeppink;
        border-radius: 15px;
        margin-right: 10%;
      }
    }
  }
}
